.container
{
  display: flex;
}
.name-section>div>div
{
 display: flex;
 justify-content: center;
 align-items: center;
}

.skill-section>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
